.number-picker-container {
  display: flex;
}

.button {
  cursor: pointer;
}

.button,
.input-container {
  height: 40px;
  width: 40px;
  border: 1px solid #1e9fd2;
  border-radius: 4px;
  padding: 8px;
}

.button ~ .input-container,
.input-container ~ .button {
  margin-left: 8px;
}

.input-container {
  padding: 10px 4px;
}

.input-container input {
  width: 32px;
  height: 20px;
  border: none;
  padding: 0px;
  text-align: center;
  color: #595959;
}

.input-container input::-webkit-outer-spin-button,
.input-container input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.input-container input[type="number"] {
  -moz-appearance: textfield;
}
